* {
  box-sizing: border-box !important;
  outline: none;
}

.add-button {
  background-color: #3b3b3b;
  border-color: rgb(169, 125, 13);
  border-width: 3px;
}
.add-button:hover,
.add-button:focus,
.add-button:active,
.add-button:active:hover,
.add-button:active:focus,
.add-button:active:active {
  background-color: #3b3b3b;
  border: 3px solid rgb(235, 212, 147);
}

.wood {
  background-color: burlywood;
}
.twood {
  color: burlywood;
}

.goldenrod {
  background-color: goldenrod;
}

.input:focus {
  border: 3px solid rgb(169, 125, 13); /* Change the outline color to red */
  box-shadow: none; /* Remove the box shadow */
}